project_id = "project-e0bbb103-9e5b-4402-866"
region     = "asia-south1"

environment = "demo"
name_prefix = "redteam"

ui_image     = "asia-south1-docker.pkg.dev/project-e0bbb103-9e5b-4402-866/redteam-demo-containers/redteam-ui:latest"
api_image    = "asia-south1-docker.pkg.dev/project-e0bbb103-9e5b-4402-866/redteam-demo-containers/redteam-api:latest"
worker_image = "asia-south1-docker.pkg.dev/project-e0bbb103-9e5b-4402-866/redteam-demo-containers/redteam-worker:latest"

vertex_location = "us-central1"

allowed_iap_members = [
  "user:your.email@gmail.com",
]
